.aboutTitle {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--qode-main-color);

  font-weight: 700;

  line-height: 1.57143em;
  letter-spacing: 0.1em;

  margin: 0 0 12px;
}
.topTitle img {
  width: 90px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
  top: -3px;
  vertical-align: middle;
}

.topTitle h2 {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--qode-main-color);

  line-height: 1.13636em;
  letter-spacing: 0.05em;
  margin: 25px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
